@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  background: #927057;
  color: #ffffff;
  padding: 20px;
  font-family: 'Oxygen', sans-serif;
}

main {
  width: 470px;
  margin: 50px auto 0;
  padding: 50px 60px 70px 60px;
  background: #d5c395;
  position: relative;
}

main::before {
  position: absolute;
  top: -30px;
  left: 259px;
  content: "";
  display: block;
  width: 68px;
  height: 35px;
  background: url("img/decorator.png") no-repeat 0 0;
}

.image-container {
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.image-container img {
  border: 5px solid #d5c395;
  height: 123px;
}

.input-container {
  position: relative;
  margin-bottom: 30px;
}

.input-container .icon {
  position: absolute;
  left: 12px;
  top: 11px;
  width: 20px;
  height: 20px;
  border: none;
}

input[type="text"],
input[type="password"] {
  outline: none;
  border: none;
  background: #efe1c4;
  padding: 10px 10px 10px 60px;
  width: 85%;
  font-size: 1.1em;
  color: #927057;
  border-radius: 5px;
}

input[type="submit"] {
  outline: none;
  border: none;
  background: #927057;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  font-size: 1.5em;
  color: #d5c395;
  border-radius: 5px;
}

footer {
  text-align: center;
  font-size: 1em;
  color: #EFE1C4;
}

.profile-img {
  border: 5px solid #fff;
  height: 120px;
  border-radius: 5px;
}

.triangle-img {
  margin-top: -5px; /* brings it closer to the image */
  width: 40px;      /* adjust to fit your design */
  height: auto;
}
